* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.hero-wrapper { 
    width: 2000px;
}

.drag-and-drop {
    background: url("../images/xenanana.png") no-repeat;
    background-position-y: -6px;
    background-position-x: -2px;
    height: 750px;
 
.drag-and-drop {
    display: flex;
}
}
