

.drag-and-drop {
    background: url(../img/xenanana.png) no-repeat;
    background-position-y: -6px;
    background-position-x: -2px;
    height: 750px;
    display: flex;
    gap: 234px;
    justify-content: center;
    align-items: center;
}


.drag-and-drop .left-part {
    width: 830px;
    margin-right: -3px;
    margin-bottom: 98px;
    display: grid;
    grid-template-rows: 97px 97px 97px 97px;
    grid-template-columns: 390px 390px;
    grid-gap: 14px 50px;
}

.drag-and-drop .left-part .header-name:first-child{
    display: flex;
    justify-content: space-between;
}

.drag-and-drop .left-part .header-name:nth-child(2){
    margin-left: -2px;
}


.drag-and-drop .left-part .header-name p{
    font-family: Roboto Medium;
    color: #ffffff;
    font-size: 22.25pt;
    letter-spacing: 0.4px;
    font-weight: 500;
    width: 530px;
}


.drag-and-drop .left-part .header-name {
    margin-top: 44px;
    margin-left: -4px;
    margin-right: 2px;

}

.drag-and-drop .left-part .header-name i {
    font-size: 1.7em;
    margin-top: 4px;
}
.drag-and-drop .left-part .header-name span{
    color: #8492af;
}


.drag-and-drop .card {
    width: 390px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.drag-and-drop .card-name {
    display: flex;
    justify-content: left;
    gap: 21px;
    margin-top: 30px;
}

.drag-and-drop .circle {
    margin-left: 31px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5584ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto Medium;
    font-size: 15pt;
    color: #ffffff;
}

.drag-and-drop .card-rightpart {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin-top: -2px;
}

.drag-and-drop .card-rightpart i{
    font-size: 2em;
    margin-top: 6px;
}

.drag-and-drop .name-status {
    display: flex;
    flex-direction: column;
    font-family: Roboto Medium;
    font-size: 13pt;
    color: #0e1a35;
    gap: 4px;
}

.drag-and-drop .status {
    display: flex;
    gap: 7px;
    color: #8492af;
    font-size: 9pt;
    letter-spacing: -0.3px;
    margin-top: 2px;
}

.drag-and-drop .status i {
    font-size: 1.2em;
    margin-top: -1px;
    margin-left: 0px;
}




.drag-and-drop .right-part {
    margin-left: -57px;
    width: 703px;
    height: 392px;
}



.drag-and-drop .text h2{
    font-size: 45pt;
    font-family: Roboto Thin;
    white-space: nowrap;
    color: #ffffff;
    font-weight: 200;
    margin-top: 30px;
}

.drag-and-drop .text p{
    font-family: Roboto Regular;
    color: #8492af;
    font-size: 13.5pt;
    letter-spacing: 0px;
    font-weight: 300;
    width: 530px;
    line-height: 30px;
    margin-left: 6px;
}

.drag-and-drop .text > p:nth-child(2) {
    margin-bottom: -8px;
}



.drag-and-drop .text {
    width: 589px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.drag-and-drop .check-items {
    display: flex;
    gap: 18px;
    margin-top: 10px;
    margin-left: 9px;
}


.drag-and-drop .caret-left {
    width: 33px; 
    height: 33px;
    background-color: transparent; 
    border: 1.5px solid #a5aec3; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 11px solid #a5aec3;
    
}
  
  .caret-left .triangle {
    transform: rotate(-90deg);
    margin-right: 3px;
  }

  .caret-right .triangle {
    transform: rotate(90deg);
    margin-left: 4px;
  }

.drag-and-drop .caret-right {
    width: 33px; 
    height: 33px;
    background-color: transparent; 
    border: 1.5px solid #a5aec3; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}