.footer.footer{
    background-color: rgb(14, 26, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 152px;
}

.footer .footer .main_div{
    max-width: 1500px;
}

.footer .footer .year{
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(132, 146, 175);
    font-weight: normal;
    line-height: 1.667;
    text-align: right;
    margin-left: 800px;
}

.footer .footer .navigation{
    display: flex;
    flex-flow: row;
    gap: 55px;
}

.footer .footer .navigation .word{
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(132, 146, 175);
    font-weight: normal;
    line-height: 5.111;
    text-align: left;
}

.footer .footer .navigation .social_network_icons{
    color: rgb(132, 146, 175);
    display: flex;
    flex-flow: row;
    gap: 55px;
}

