.footer.footer{
    background-color: rgb(14, 26, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 154px;
    padding-left: 5px;
}

.footer .footer .main_div{
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .footer .main_div .year{
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(132, 146, 175);
    font-weight: normal;
    line-height: 1.667;
    text-align: right;
    align-self: center;
    margin-right: 795px;
    
}

.footer .footer .main_div .navigation{
    display: flex;
    flex-flow: row;
    gap: 55px;
    margin-right: 50px;
}



.footer .footer .main_div .navigation a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(132, 146, 175);
    font-weight: normal;
    line-height: 5.111;
    text-align: left;
}

.footer .footer .main_div .navigation a:hover{
    color: white;
}


.footer .footer .main_div .social_network_icons{
    display: flex;
    flex-flow: row;
    gap: 20px;
    align-self: center;
}

.footer .footer .main_div .social_network_icons .icons{
    text-decoration: none;
    color: rgb(132, 146, 175);
}

.footer .footer .main_div .social_network_icons .icons :hover{
    color: white;
}

