* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.some-about-site img {
    /* width: px; */
    /* height: 623px; */
    width: 668px;
    
}

.hero-wrapper { 
    width: 2000px;
}

.some-about-site {
    display: flex;
    justify-content: right;
    gap: 25px;
    padding-top: 142px;
}

.check-item {
    display: flex;
    gap: 11px;

    color:#5584ff;

}

.some-about-site .text h2{
    font-size: 29pt;
    font-family: Roboto Thin;
    letter-spacing: -0.15px;
    white-space: nowrap;
    color: #0e1a35;
    font-weight: 200;
    margin-top: 43px;
    /* margin-bottom: 100px;*/
}

.some-about-site .text p{
    font-family: Roboto Regular;
    color: #8492af;
    font-size: 8.625pt;
    letter-spacing: 0px;
    font-weight: 300;
    width: 375px;
    line-height: 20px;
}

.some-about-site .text > p:nth-child(2) {
    margin-bottom: -5.9px;
}

.some-about-site .check-items {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 11px;
}
.some-about-site .check-items .check-item i{
    font-size: 14pt;
    margin-top: 1px;
    margin-left: 1px;
}
.some-about-site .text .check-items .check-item p{
    font-family: Roboto Regular;
    color: #5584ff;
    font-size: 10.51pt;
    font-weight: 500;
}


.some-about-site .text {
    width: 415px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}